.sh-profile {
  // width: 23.75rem;
  max-width: 100%;
  display: flex;
  position: relative;
  justify-content: flex-start;
  align-items: center;

  &__popover {
    width: px2rem(420);
    max-width: 100%;

    &.profile {
      width: px2rem(220);
    }

    &__header {
      padding: px2rem(20) px2rem(30);
      border-bottom: 1px solid rgba($gray-600, 0.4);
    }

    &__content {
      &__item {
        border-bottom: 1px solid $gray-100;
        padding: px2rem(12) px2rem(30);

        &:nth-child(2n) {
          background: rgba($gray-7, 0.4);
        }

        .label {
          color: $gray-600;
        }
      }
    }
  }

  &-user {
    display: flex;
    justify-content: flex-start;
    margin-left: px2rem(32);
    align-items: baseline;

    &-avatar {
      width: px2rem(40);
      height: px2rem(40);
      border-radius: 50%;
    }
    &-info {
      margin-left: px2rem(20);
      white-space: nowrap;
      max-width: px2rem(232);
      flex: 1;
      text-align: left;

      .name {
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.5rem;
      }
      .label,
      .name {
        text-overflow: ellipsis;
        overflow: hidden;
        width: 100%;
      }
    }
  }
}
